*~
*.aux
*.backup
*.bak
*.bin
*.bin.hex
*.c.*.tex
*.deb
*.disasm
*.gz
*.log
*.objdump
*.out
*.out.txt
*.pdf
*.py[co]
*.py.*.tex
*.py.out
*.scite.tex
*.toc
*.xz
/challenge/1_usb/usbtrace
/challenge/binutils-aarch64-linux/
/challenge/3_mcu/mcu/
